# Rain Contract Addresses.To be populated after the contracts are deployed.
PARSER=
EXPRESSION_DEPLOYER=
ORDERBOOK_SUBPARSER=
UNISWAP_WORDS=

# Ethereum Mainnet RPC URL
RPC_URL_ETH=

# Etherscan Api Key
ETHERSCAN_API_KEY=

# Address corresponding to ledger wallet.
SIGNER_ADDRESS= 

# Derivation path index(required). This is the mnemonic index corresponding to the above address of your ledger wallet.
# Default set to 0.
MNEMONIC_INDEX=0

